server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    locations: classpath:db/migration

jwt:
  secret: ${JWT_SECRET}
  access-ttl-min: ${JWT_ACCESS_TTL_MIN}
  refresh-ttl-days: ${JWT_REFRESH_TTL_DAYS}

springdoc:
  api-docs.enabled: true
  swagger-ui.path: /swagger