server:
  port: 8081

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    locations: classpath:db/migration

  jwt:
    secret: ${JWT_SECRET}
    access-ttl-seconds: ${JWT_ACCESS_TTL_SECONDS:900}
    issuer: upme-auth

springdoc:
  api-docs.enabled: true
  swagger-ui.path: /swagger