.profileInfoBlock {
    width: 100%;
    max-width: 360px;
}

.miniCard {
    background-color: #f1f1f1 !important;
    color: #000 !important;
    padding: 10px;
    border-radius: 10px !important;
}

.fullWidthSect {
    width: 100%;

}