body {
    background: #F5F7FB;;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}
@media (max-width: 1200px) {
    max-width: 960px;
}
@media (max-width: 992px) {
    max-width: 720px;
}
@media (max-width: 768px) {
    max-width: 540px;
}
@media (max-width: 576px) {
    max-width: 100%;
}

.section {
    width: 100%;
    padding: 64px 0;
}