.root {
    position: relative;
    padding: var(--mantine-spacing-md);
    transition: border-color 150ms ease;
}

/* Активный элемент */
.root[data-checked] {
    border-color: var(--mantine-primary-color-filled);
}

/* Hover light/dark */
.root:hover {
    background-color: #fefefe;
}
@media (prefers-color-scheme: dark) {
    .root:hover {
        background-color: rgba(0, 120, 233, 0.1);
    }
}

.label {
    font-family: var(--mantine-font-family-monospace);
    font-weight: bold;
    font-size: var(--mantine-font-size-md);
    line-height: 1.3;
    color: var(--mantine-color-bright);
}

.description {
    margin-top: 3px;
    color: var(--mantine-color-dimmed);
    font-size: var(--mantine-font-size-xs);
}
