server:
  port: 8082

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
    connect-retries: 5
    fail-on-missing-locations: true

  jwt:
    secret: ${JWT_SECRET}
    issuer: upme-auth

springdoc:
  api-docs.enabled: true
  swagger-ui.path: /swagger

app:
  s3:
    endpoint: http://minio:9000
    publicBaseUrl: http://localhost:9000
    region: us-east-1
    accessKey: ${S3_ACCESS_KEY}
    secretKey: ${S3_SECRET_KEY}
    bucket: ${S3_BUCKET:profile-bucket}
    pathStyle: true
    publicBucket: true
